:root {
  --blanco: #ffffff;
  --gris1: #edf2f6;
  --gris2: #2f3848;
  --gris3: #1a202d;
  --negro: #000000;
  --headingFont: "Raleway", sans-serif;
  --textFont: "Roboto", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  min-height: 100%;
  background-color: var(--gris1);
  font-size: 16px;
  font-size: 1.6rem;
  font-family: var(--textFont);
}

h1,
h2 {
  font-family: var(--headingFont);
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: var(--gris2);
}
h1 span {
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--gris2);
}

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: var(--headingFont);
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn-primario {
  background-color: var(--gris2);
  color: var(--blanco);
}
.btn-primario:hover {
  background: var(--gris3);
}
.btn-secundario {
  background-color: var(--gris1);
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-submit:hover {
  background-color: var(--gris2);
}
.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent;
}

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh;
  }

  aside {
    background-color: var(--blanco);
    flex: 0 0 300px;
  }
  .seccion-principal {
    flex: 1;
  }
}

/* BARRA LATERAL */
aside {
  padding: 3rem;
}

.formulario-nuevo-proyecto {
  margin-top: 6rem;
}
.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid var(--gris2);
  border-radius: 0;
  background-color: var(--gris1);
}
.formulario-nuevo-proyecto .input-text::placeholder {
  color: var(--gris2);
}
.proyectos {
  margin-top: 10rem;
}
.listado-proyectos li {
  margin-bottom: 2rem;
